<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale: 1.0">
    <link th:href="@{/css/boss/about.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<section class="sub-header">
    <nav>
        <a th:href="@{/home/default}"><img th:src="@{/images/logo2.png}" alt="Logo"></a>
        <div class="search-box">
            <i class="fa fa-search" ></i>
            <input type="search" class="search" placeholder="Search...">
        </div>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times menu" onclick="hideMenu()"></i>
            <ul>
                <li><a th:href="@{/home/default}">HOME</a></li>
                <li><a th:href="@{/boss/about}">ABOUT</a></li>
                <li><a th:href="@{/boss/see_all_post}">MY JOBS</a></li>
                <li><a th:href="@{/boss/profile}">PROFILE</a></li>
                <li><a href="/login">LOGOUT</a></li>
            </ul>
        </div>
        <i class="fa fa-bars menu" onclick="showMenu()"></i>
    </nav>
    <h1>About us</h1>
</section>
<!---------  about us content--------->

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>The world’s work marketplace</h1>
            <p>Our mission to create economic opportunities so people have better lives has taken us so much further.
                As a result, we’ve become the world’s work marketplace where every day businesses
                of all sizes and independent talent from around the globe meet here to accomplish incredible things.</p>
            <!-- <a href="" class="hero-btn green-btn">EXPLORE NOW</a> -->
        </div>
        <div class="about-col">
            <img th:src="@{/images/about.jpg}" alt="About us...">
        </div>
    </div>
</section>

<!------------ Footer ---------------->

<section class="footer">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco  nisi.</p>
    <div class="icons">
        <i class="fa fa-facebook" ></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-instagram" ></i>
        <i class="fa fa-linkedin" ></i>
    </div>
    <p>Made with <i class="fa fa-heart-o" > by group 3</i></p>
</section>










<!------ JavaScript for Menu ----->

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
        navLinks.style.display="block";
    }
    function hideMenu() {
        navLinks.style.display="none";
    }
</script>

</body>

</html>
</body>
</html>