#store-proposal-success-section-content {
    margin-top: 100px;
}

.alert {
    height: 50px;
    border-radius: 4px;
    padding: 16px;
}

.alert-success {
    background-color: greenyellow;
    font-weight: 600;
}

#redirect-proposals {
    padding: 16px;
}