*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
nav .search-box{
    border: solid 1px rgb(228, 221, 221);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 6px 5px;
    background: rgb(228, 221, 221);
    width: 200px;
    margin-left: 50px;

}
nav .search-box .fa-search{
    color: black;
    font-size: 12px;
    padding: 0px 2px;
    cursor: pointer;


}
nav .search-box .search{
    background-color: transparent;
    border: none;
    outline: none;
    color: black;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5b4536;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 56px;
}

.text-box p{
    margin: 10px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #5b4536;
    background:  #5b4536;
    transition: 1s;
}

nav .menu{
    display: none;
}

@media(max-width: 900px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p {
        font-size: 14px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(4,9,30);
        height: 100vh;
        width: 150px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        display: none;
        /* transition: 1s;  not work????*/

    }

    nav .menu{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        background: transparent;
        cursor: pointer;

    }

    .nav-links ul{
        padding: 30px;
    }

    .row{
        flex-direction: column;
    }

    .course-col{
        padding: 10px 0px;
    }
    nav .search-box{
        margin-left: 0px;
        width: 150px;
    }

}

/*--------------------------------footer--------------------------------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p{
    margin: 20px 0px 30px 0px;
    font-size: 12px;
    color: #777;

}

.footer h4{
    margin-bottom: 30px;
}

.icons .fa{
    color: rgb(219, 66, 91);
    margin: 7px;
    cursor: pointer;
}

@media(max-width:700px){
    .footer{
        width: 100%;
        text-align: center;
        /* padding: 30px 0; */
    }
}

/*!*-------------------------------------about us--------------------------*!*/
/*.sub-header{*/
/*    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/background.jpg);*/
/*    height: 50vh;*/
/*    width: 100%;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    text-align: center;*/
/*}*/

/*.sub-header h1{*/
/*    font-size: 35px;*/
/*    color: #fff;*/
/*    margin-top: 100px;*/
/*    font-weight: 600;*/
/*}*/

/*.about-us{*/
/*    width: 80%;*/
/*    margin: auto;*/
/*    padding: 70px 0px;*/
/*    display: flex;*/
/*}*/

/*.about-col {*/
/*    flex-basis: 45%;*/
/*    padding: 30px 2px;*/
/*}*/

/*.about-col img{*/
/*    width: 100%;*/
/*}*/

/*.about-col h1{*/
/*    font-weight: 600;*/
/*    padding-bottom: 50px;*/
/*}*/
/*.about-col p{*/
/*    color: #777;*/
/*    font-size: 12px;*/
/*    padding-bottom: 30px;*/
/*}*/

/*.green-btn{*/
/*    background: transparent;*/
/*    border: 1px solid orange;*/
/*    color: orange;*/

/*}*/

/*.green-btn:hover{*/
/*    color: #fff;*/
/*}*/

/*@media(max-width: 700px){*/
/*    .about-us{*/
/*        text-align: center;*/
/*    }
}*/